.root-brands{
    width: 100%;
    margin-top: 90vh;
    align-items: center;
    display: grid;
    text-align: left;
    padding: 120px;

}

.img-brands{
    width: 100%;
    /* margin-top: 2vh; */
    height: 300px;
}

@media only screen and (max-width:800px) {
    .root-brands{
        display: none;
    }
}