.root-div-SignIn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48vh;
    margin-top: 12vh;
    cursor: pointer;
}
.div-filds{
    display: grid;
    gap: 30px;
}
.div-img-SignIn{
    justify-content: center;
    align-items: center;
    display: flex;
}
.div-img-SignIn * {
    height: 700px ;
}   
.input-regi{
    width: 100%;
    border: none;
    border-bottom:  solid 2px black;
    color: black;
    padding: 10px;
    text-align: left;
    outline: none;
}
.btn-SignIn-page{
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 400px;
    height: 60px;
    border: black solid 2px;
}
.div-filds h2 {
    margin-top: -7vh;
}
@media only screen and (max-width:900px) {
    .root-div-SignIn{
        display: grid;
        width: 400px;
        height: 100%;
    }
    .div-img-SignIn * {
        display: none;
    }
    .btn-SignIn-page{
        width: 100%;
    }
    .div-filds{
        gap: 20px;
        position: relative;
        bottom: 0;
        width: 100%;
    }
}