.root-div-Limited{
    margin-left: 13vh;
    margin-right: 13vh;    
    margin-top: 20vh;
    margin-bottom: 5vh;
}
.div-limited{
    background-color: #282830;
    width: 100%;
    border-radius: 20px;
    display: flex;
    height: 400px;
    gap: 100px;
}
.info-div{
    display: grid;
    text-align: left;
    float: left;
    margin-top: 8vh;
    margin-bottom: 7vh;
    gap: 30px;
}
.img-Limited{
    width: 40%;
    position: relative;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
.btn-limited{
    background-color: white;
    width: 300px;
    height: 60px;
    border: white solid 2px;
    color: #282830;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
.text-limited{
    color: rgb(255, 255, 255)    ;
}
.div-limited img {
    border-radius: 20px 10px 0px 20px;
}

@media only screen and (max-width:900px) {
    .root-div-Limited{
        margin: 1vh;
    }
    .div-limited{
        display: grid;
        height: 80%;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 5px;
    }
    .img-Limited{
        width: 100%;
        gap: 0px;
        border-radius: 30px;
    }
    .info-div{
        text-align: center;
        padding: 20px;
        justify-content: center;
        align-items: center;
        display: grid;
        margin: 0;
        float: inline-end;
    }
    .btn-limited{
        width: 100%;
    }
    .div-limited img {

        border-radius: 20px;
    }
    
}